amqp==5.3.1
attrs==25.3.0
celery==5.3.6
certifi==2025.1.31
cffi==1.17.1
channels==4.0.0
channels-redis==4.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==44.0.2
dj-database-url==2.1.0
dj-rest-auth==5.0.2
django-allauth==0.61.1
django-cache-memoize==0.2.0
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-elasticsearch-dsl==8.0
django-environ==0.11.2
django-oauth-toolkit==2.3.0
django-redis==5.4.0
django-storages==1.14.2
django-timezone-field==7.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
elastic-transport==8.17.1
elasticsearch==8.18.0
elasticsearch-dsl==8.11.0
factory-boy==3.3.0
gunicorn==21.2.0
msgpack==1.1.0
mypy-extensions==1.0.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
pytest==8.0.1
pytest-django==4.8.0.0
python-dotenv==1.0.0
python3-openid==3.2.0
redis==5.0.1
referencing==0.36.2
requests==2.31.0
requests-oauthlib==2.0.0
rpds-py==0.24.0
sentry-sdk==1.40.4
six==1.17.0
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
vine==5.1.0
whitenoise==6.6.0
Django==5.0.1
channels
daphne
aiohttp>=3.9.0
azure-core>=1.29.5
azure-cognitiveservices-speech>=1.31.0
drf-nested-routers>=0.93.4
Pillow>=10.2.0

